<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="Template.css" />
  </head>
  <body>
    <!-- ===== Header ===== -->
    <header class="site-header">
      <div class="container header-container">
        <h1 class="logo">Logo or heading</h1>
        <nav class="main-nav">
          <ul>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Lorem ipsum</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- ===== Main Information  ===== -->
    <main class="site-main container">
      <section class="intro-section">
        <h2>
          Sed elementum, augue a semper posuere, magna nibh sagittis tortor, in
          sodales orci nisl et justo. Pellentesque consectetur elit lacus, quis
          gravida diam dictum in.
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
          elementum nibh sit amet lacus ornare, nec porta turpis bibendum.
          Pellentesque bibendum lorem tincidunt, interdum turpis vitae, gravida
          massa. Nullam porta tempor vulputate. Ut orci turpis, varius nec lacus
          nec, tempor hendrerit enim. Fusce in magna nibh. Donec tristique
          ullamcorper tincidunt. Phasellus tristique accumsan orci, id gravida
          massa tincidunt at. Vivamus commodo est in tellus convallis convallis.
          Integer rhoncus, tellus eget mollis efficitur, dui dolor luctus diam,
          non dignissim nulla nibh a ipsum.
        </p>
        <div>
          <h3>Nam porta purus</h3>
          <p>
            Suspendisse non rutrum ex. Vestibulum finibus aliquam eros ultrices
            interdum. In semper, nisl id pharetra egestas, risus est finibus
            turpis, sed elementum purus quam vel velit. Nullam mi purus, aliquam
            sed dignissim mollis, iaculis dignissim felis. Praesent in feugiat
            enim, nec laoreet tellus. Curabitur ullamcorper neque ex. Morbi
            euismod molestie nulla, in maximus lectus gravida at. Sed euismod
            orci id ligula aliquet commodo. Vivamus et justo interdum sapien
            ullamcorper vulputate. Ut vestibulum nibh nec finibus faucibus. Duis
            pellentesque viverra massa, ut rhoncus urna. Quisque sagittis odio
            neque, a imperdiet magna efficitur ut. Aenean tristique dapibus
            condimentum. Fusce laoreet elit eu ligula hendrerit laoreet non
            elementum neque.
          </p>
        </div>
        <div>
          <h3>Nam porta purus</h3>
          <ul>
            <li>Praesent in feugiat enim</li>
            <li>Praesent in feugiat enim</li>
            <li>Praesent in feugiat enim</li>
            <li>Praesent in feugiat enim</li>
          </ul>
        </div>
        <div>
          <h3>Nam porta purus</h3>
          <p>
            Suspendisse non rutrum ex. Vestibulum finibus aliquam eros ultrices
            interdum. In semper, nisl id pharetra egestas, risus est finibus
            turpis, sed elementum purus quam vel velit. Nullam mi purus, aliquam
            sed dignissim mollis, iaculis dignissim felis. Praesent in feugiat
            enim, nec laoreet tellus. Curabitur ullamcorper neque ex. Morbi
            euismod molestie nulla, in maximus lectus gravida at. Sed euismod
            orci id ligula aliquet commodo. Vivamus et justo interdum sapien
            ullamcorper vulputate. Ut vestibulum nibh nec finibus faucibus. Duis
            pellentesque viverra massa, ut rhoncus urna. Quisque sagittis odio
            neque, a imperdiet magna efficitur ut. Aenean tristique dapibus
            condimentum. Fusce laoreet elit eu ligula hendrerit laoreet non
            elementum neque.
          </p>
        </div>
        <a href="./index.html" class="btn-primary">Back to home page</a>
      </section>
    </main>

    <!-- ===== Footer ===== -->
    <footer class="site-footer">
      <div class="container">
        <p>2025 My Website. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
