body {
  font-family: Geneva, Helvetica, sans-serif;
  background: #bbdae6;
  color: #333333;
}
h1,
h2 {
  font-variant-caps: small-caps;
  color: #000000;
}
nav li {
  list-style-type: none;
}

header {
  grid-area: header;
}
main {
  grid-area: main;
}
nav {
  grid-area: nav;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
}
img{
    max-width: 100%;
}
figure {
    border: thin wheat;
    padding: 5px;
    margin:auto;
}
figcaption{
    background-color: black;
    color: antiquewhite;
    font: italic smaller;
    font-family: sans-serif;
    padding: 3px;
    text-align: center;
}
/* mobile first website layout */
#content {
  display: grid;
  max-width: 960px;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: minmax(100px, auto);
  margin: 0 auto;
  grid-gap: 7px ;
  grid-template-areas: 
  "header header header header"
  "nav nav nav nav"
  "aside aside aside aside"
  "main main main main"
  "footer footer footer footer";
}

#content > * {
  background: #3bbced;
  padding: 30px;
}

@media screen and (min-width:768px){
#content {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: minmax(100px, auto);
  max-width: 960px;
  margin: 0 auto;
  grid-gap: 7px ;
  grid-template-areas: 
  "header header header header"
  "nav nav nav nav"
  "aside main main main"
  "footer footer footer footer";
}
}
