@charset "UTF-8";
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

body {
  font-family: Verdana, Arial, serif;
  font-size: 100%;
  background-color: white;
  margin: 0;
}

/* link styles */
a:link, a:visited { color: #DC6903; }
a:focus, a:hover, a:active { color: #F9AB33; }

a {
	 text-decoration: none;
	 border-bottom: 1px dotted;
	 padding-bottom: .2em;
}



/* header styles */
header {
	color: white;
	background:  url(tiny_cupcakes.png) no-repeat center center;
	background-size: cover; 
	text-align: center;
	height: 13em;
}
header h1 {
	margin-top: 1.5em;
}
header p {
	display: none;
}


/* nav styles */
nav, footer {
	font-family: verdana, sans-serif;
	background-color: #eec6f1;
}
nav ul li a:link, nav ul li a:visited {
	color: #06021a;
}
nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
	color: #fff;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
    font-size: .8em;
	text-transform: uppercase;
	letter-spacing: .2em;
	flex: 1 1 50%;
}
nav ul li a { 	
  display: block; 	
  border: 1px solid; 
  padding: .5em 1em; 	
  border-radius: .5em; 
  margin: .25em; 
  } 	


/* main "products" styles */
main {
	font-size: 1em;
	line-height: 1.4em;
	color: #555;
	margin: 2.5%;

}
h1{
	color: rgb(189, 87, 172);
	text-shadow: 2px 12px 5px rgba(0, 0, 0, 0.6);
}
h2 {
	font-family: Georgia, serif;
	font-weight: normal;
	font-size: 1.5em;
}
h3 {
	font-family: Verdana, sans-serif;
	font-weight: normal;
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #7A0002;
	border-top: 1px solid;
	margin-top: 1.5em;
}
p.more {
	font-family: verdana, sans-serif;
	text-transform: uppercase; 
	font-size: .8em;
	clear: left;
}
main img {
  display: block;
  margin: .5em auto;
}
/*




/* aside "hours" styles */
aside {
	background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("Buntyum.png") center/cover no-repeat; 
	background-color: #F6F3ED;
	padding: 1em;
	color: rgb(7, 6, 7);
	background-size: cover;
	background-position: center;

}
/* misc styles */
footer {
	color: #11a89c;
	text-align: center;
	font-size: .8em;
	padding: 1em;
}
.day {
	color: #050201;
	font-family: verdana, sans-serif;
	font-size: .8em;
	text-transform: uppercase;
}
.linelength {
	background: rgb(218, 167, 231);
}

/* mobile first website layout */
#content {
  display: grid;
  max-width: 960px;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: minmax(100px, auto);
  margin: 0 auto;
  grid-gap: 7px ;
  grid-template-areas: 
  "header header header header"
  "nav nav nav nav"
  "aside aside aside aside"
  "main main main main"
  "footer footer footer footer";
}

#content > * {
  background: #2567b3;
  padding: 30px;
}

@media screen and (min-width:768px){
#content {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: minmax(100px, auto);
  max-width: 960px;
  margin: 0 auto;
  grid-gap: 7px ;
  grid-template-areas: 
  "header header header header"
  "nav nav nav nav"
  "aside main main main"
  "footer footer footer footer";
}
}
@media screen and (min-width:500) {
img {
  max-width: 90%;  
  height: auto;     
  display: block;   
  margin: 0 auto;   
  border-radius: 10px; 
}
	
}
img {
  max-width: 90%;  
  height: auto;     
  display: block;   
  margin: 0 auto;   
  border-radius: 10px; 
}
.background-image {
  background-size: cover;   
  background-position: center; 
  background-repeat: no-repeat;
  width: 100%;
  height: 400px; 
}
/* tweak for smaller screens  */
@media (max-width: 768px) {
  .background-image {
    height: 250px; 
  }
}
@media (max-width: 480px) {
  .background-image {
    height: 180px; 
  }

  img {
    border-radius: 5px; 
  }
}


