body{
  font-family: Geneva, sans-serif;
}
ul{
  border: 1px solid red;
  padding: 0;
  background-color: aqua;
  display: flex;
  justify-content: space-around;
}
li{
  width: 100px;
  height: 100px;
  background-color: rgb(128, 158, 82);
  margin: 3px;
  list-style-type: none;


}